.section-one-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.section-one-item{
    width: inherit;
    height: inherit;
}
.section-one-item img{
    max-width: 100%;
    min-height: 100vh;
}
.section-one-item2{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.273);
}
.section-item2-container{
    padding: 100px;
}
.section-item2-container button{
    /* padding: 10px 30px; */
    width: 190px;
    background-color: var(--primarycolor);
    border: none;
    height: 56px;
    border-radius: 40px;
    margin: 0 10px;
    color: white;
font-family: 'Helvetica Neue', sans-serif;
font-size: 16px;
font-weight: 400;
text-align: center;
transition: all 0.4s ease;
}

.section-item2-container button:hover{
    background-color: #9d832c;
}
@media (max-width:568px) {
    .verticalscrollonimg h2 {
        font-size: 55px;
        -webkit-text-stroke-width: 0.6px;
        -webkit-text-stroke-color: white;
    }
    .verticalscrollonimg{
        top: 700%;
        right: -90px;
    }

    
}

@media (max-width:1080px) {
    .section-one-container{
        min-width:auto;
        max-width: 100vh;
        min-height:auto;
    }
    .section-one-item img{
        min-height: auto;
        max-height: 100vh;
    }
    .section-item2-container{
        display: none;
    }
 
}