.header-Container{
    position: relative;
    width: 100vw;
}
.headervideo{
    width: 100%;
}
.nav-container{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.268);
}
.nav-menu{
    display: flex;
    margin-top: 50px;
    width: 100%;
}
.navlogo{
    margin-left: 115px;

}
.navlogo img{
    height: 90px;
    width: auto;
}

.nav-item{
    margin-top: 12px;
    width: 80%;
    display: flex;
    justify-content: center;
}
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
.nav{
    display: flex;
    list-style: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffff;
}
.nav li{
   padding: 0 30px;
    text-align: center;
}
.nav-content{
    display: flex;
   position: absolute;
   flex-flow: wrap;
   bottom: 100px;
   width: 100%;
   /* max-width: 1400px; */
   justify-content: space-between;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.content-right{
    font-size:  135px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -12px;
    color: #ffff;
    margin-right: 60px;
}
.content-left h2{
font-family: 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -2px;
    color: white;
}
.content-left{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 100px;
    width: 25%;
    max-width: 350px;
}
.header-buttons{
display: flex;
width: 100%;
justify-content: space-between;
}
.header-buttons button{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #ffff;
    background: none;
    font-size: 16px;
    font-weight: 400;
font-family: 'Helvetica Neue', sans-serif;
line-height: 19px;
color: #ffff;
}
.collect-btn{
    background: var(--primarycolor) !important;
    border-color: var(--primarycolor)!important;
}

.header-info{
    display: flex;
    align-items: center;
    height: 344px;
    width: 100%;
    justify-content: center;
    background-color: var(--primarycolor);
    color: #ffff;
}
.header-info-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-left,.info-right{
    width: 50%;
    padding: 0 20px;
}
.info-left{
font-size: 44px;
line-height: 52px;
font-weight: 400;
font-family: 'Helvetica Neue', sans-serif;
}
.info-right{
    font-size: 20px;
line-height: 28px;
font-weight: 400;
font-family: 'Helvetica Neue', sans-serif;
}

@media (max-width:1028px) {
    .content-right{
        font-size: 84px;
        letter-spacing: -4px;
        margin-right: 34px;
    }
    .content-left{
        width: 45%;
        margin-left: 40px;
    }
}
@media (max-width:770px) {
    .content-right{
        display: none;
    }.nav-content{
        bottom: 30px;
    }
    .header-info-container{
        flex-direction: column;
        
    }
    .info-left, .info-right{
        width: 80%;
    }
    .header-info{
        padding: 40px 0;
        height: auto;
    }
}

@media (max-width:568px) {
    .nav-item{
        display: none;
    }
    .nav-menu{
        margin-top: 20px;
    }
    .navlogo{
        margin-left: 30px;
    }
    .navlogo img{
        height: 45px;
    }
    .content-left{
        width: 50%;
    }
    .content-left h2{
        font-size: 24px;
    }
    .header-buttons button {
        height: auto;
        width: auto;
        padding: 10px 24px;
        margin: 4px 0;
    }
}