*{
  padding: 0;
  margin: 0;
}
body{
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
  width: 10px;

}
body::-webkit-scrollbar-button{
  display: none;
}
body::-webkit-scrollbar-thumb{
  background-color: aliceblue;
  border-radius: 20px;
}
body::-webkit-scrollbar-track{
  background: black;
}